In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\sumai\anaconda3\lib\site-packages (0.1.54)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sumai\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in c:\users\sumai\anaconda3\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: pandas>=0.24 in c:\users\sumai\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: requests>=2.20 in c:\users\sumai\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sumai\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\sumai\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sumai\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sumai\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sumai\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sumai\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\sumai\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)

In [3]:
import yfinance as yf

In [18]:
def get_pair(name):
    curr = yf.Ticker(name)
    hist = curr.history(period = 'max')
    return (hist)

In [19]:
df = get_pair('AUDUSD=X')
df

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2006-05-16  0.7628  0.7690  0.7607  0.7671       0          0             0
2006-05-17  0.7669  0.7726  0.7576  0.7594       0          0             0
2006-05-18  0.7594  0.7676  0.7587  0.7640       0          0             0
2006-05-19  0.7639  0.7648  0.7530  0.7572       0          0             0
2006-05-22  0.7569  0.7569  0.7471  0.7534       0          0             0
...            ...     ...     ...     ...     ...        ...           ...
2020-09-09  0.7210  0.7281  0.7206  0.7209       0          0             0
2020-09-10  0.7278  0.7324  0.7263  0.7277       0          0             0
2020-09-11  0.7264  0.7308  0.7260  0.7263       0          0             0
2020-09-14  0.7284  0.7306  0.7265  0.7282       0          0             0
2020-09-15  0.7292  0.7345  0.7268  0.7304       0          0             0

[3729 rows x 7 columns]

In [20]:
df.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [24]:
def create_pivot(df):
    pv = pd.pivot_table(df, index = df.index.dayofyear, columns = df.index.year, values = 'Close')
    pv.fillna(method = 'ffill', inplace = True)
    years = [2016,2017,2018,2019]
    pv = pv[years]
    return(pv)

df_seas = create_pivot(df)

In [22]:
def plotter(df, x, y): 
    plt.figure(figsize = (20,10))
    plt.plot(df[x], df[y])
    plt.grid()
    plt.legend()
    plt.show()
cols = [2016,2017,2018,2019]    
for i in range(0, len(cols)): 
    df2 = df_seas[cols[i]]#.copy(deep = True)
    df2.dropna(inplace= True)
    plt.plot(df2, label = cols[i])
    
plt.xlabel('Day of Year')
plt.ylabel('Value')
plt.grid()
plt.legend()
plt.show()

TypeError: 'NoneType' object is not subscriptable

In [23]:
df_seas